styles.css

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  text-align: center;
}

.profile-picture {
  border-radius: 100%; 
  width: 200px; 
  height: 2%; 
  margin-bottom: 20px; 
}

.link {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: calc(100vh - 500px);
  margin: 50px;
}

.link:first-child {
  background-color: #eb4951
}

.link:last-child {
  background-color: #04a1df
}

.link p {
  color: #000;
  font-size: 20px;
}

.link:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}